projetPfa/.vs/
projetPfa/gestionEmployer/bin/
projetPfa/gestionSite/bin/
projetPfa/gestionUtilisateur/bin/
projetPfa/ApiGateway/bin/
projetPfa/gestionEquipe/bin/
projetPfa/gestionReservation/bin/
projetPfa/serviceMail/bin/
