server {
    listen 4200 ssl;
    server_name localhost;

    ssl_certificate /etc/nginx/ssl/selfsigned.crt;
    ssl_certificate_key /etc/nginx/ssl/selfsigned.key;

    root /var/www/html/dreams-sports;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html;
    }
}