<div class="row">
    <div class="col-md-12">
        <div class="chat-window" [ngClass]="{'chat-slide': openChat === true}">

            <!-- Chat Left -->
            <div class="chat-cont-left">
                <form class="chat-search">
                    <div class="form-custom">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
                <div class="chat-users-list">
                    <h3>Contacts</h3>
                    <div class="chat-scroll">
                        <!-- No chats message -->
                        <div *ngIf="amisChats.length === 0 && teamChats.length === 0" class="text-center p-3 text-muted">
                            No chats available
                        </div>

                        <!-- Friend chats -->
                        <a href="javascript:void(0);" class="media" 
                           *ngFor="let chat of amisChats"
                           [ngClass]="{'read-chat active': selectedChat?.id === chat.id && !selectedChat?.isTeam}"
                           (click)="chatOpen(chat)">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-online">
                                    <img [src]="chat.avatar" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <div class="user-name">{{chat.amiName}}</div>
                                    <div class="user-last-chat">
                                        <i class="fa-solid fa-check-double"></i> 
                                        {{chat.lastMessage | truncate:20}}
                                    </div>
                                </div>
                                <div>
                                    <div class="last-chat-time block">{{chat.date | date:'shortTime'}}</div>
                                    <div class="badge badge-success badge-pill" *ngIf="chat.unreadCount">
                                        {{chat.unreadCount}}
                                    </div>
                                </div>
                            </div>
                        </a>

                        <!-- Team chats -->
                        <a href="javascript:void(0);" class="media" 
                           *ngFor="let chat of teamChats"
                           [ngClass]="{'read-chat active': selectedChat?.id === chat.id && selectedChat?.isTeam}"
                           (click)="chatOpen(chat, true)">
                            <div class="media-img-wrap">
                                <div class="avatar avatar-online">
                                    <img [src]="chat.avatar" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                            </div>
                            <div class="media-body">
                                <div>
                                    <div class="user-name">{{chat.equipeName}}</div>
                                    <div class="user-last-chat">
                                        <i class="fa-solid fa-check-double"></i> 
                                        {{chat.lastMessage | truncate:20}}
                                    </div>
                                </div>
                                <div>
                                    <div class="last-chat-time block">{{chat.date | date:'shortTime'}}</div>
                                    <div class="badge badge-success badge-pill" *ngIf="chat.nbrMessage">
                                        {{chat.nbrMessage}}
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Chat Right -->
            <div class="chat-cont-right" *ngIf="selectedChat; else noChatSelected">
                <div class="chat-header">
                    <a id="back_user_list" href="javascript:void(0)" class="back-user-list" (click)="chatOpen(null)">
                        <i class="feather icon-chevrons-left"></i>
                    </a>
                    <div class="media">
                        <div class="media-img-wrap">
                            <div class="avatar avatar-online">
                                <img [src]="selectedChat.avatar" alt="User Image" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="user-name">
                                {{selectedChat.isTeam ? selectedChat.equipeName : selectedChat.amiName}}
                            </div>
                        </div>
                    </div>
                    <div class="chat-options">
                        <div class="dropdown dropdown-action table-drop-action">
                            <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" 
                                   *ngIf="!selectedChat.isTeam && !blockStatus.iBlockedThem && !blockStatus.theyBlockedMe"
                                   (click)="blockUser(selectedChat.idMember)">
                                    <i class="feather icon-user-x"></i>Block User
                                </a>
                                
                                <a class="dropdown-item" 
                                   *ngIf="!selectedChat.isTeam && blockStatus.iBlockedThem"
                                   (click)="unblockUser(selectedChat.idMember)">
                                    <i class="feather icon-user-check"></i>Unblock User
                                </a>

                                <div *ngIf="!selectedChat.isTeam && blockStatus.theyBlockedMe" 
                                     class="dropdown-item text-danger small">
                                    <i class="feather icon-alert-triangle"></i> This user blocked you
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="chat-body">
                    <div class="chat-scroll">
                        <!-- Loading messages -->
                        <div *ngIf="loading" class="text-center p-3 text-muted">
                            Loading messages...
                        </div>

                        <!-- No messages -->
                        <div *ngIf="!loading && messages.length === 0" class="text-center p-3 text-muted">
                            Start the conversation!
                        </div>

                        <!-- Block warning -->
                        <div *ngIf="selectedChat && !selectedChat.isTeam && isCommunicationBlocked()" 
                             class="alert alert-warning mt-2">
                            <i class="feather icon-alert-triangle"></i>
                            <span *ngIf="blockStatus.iBlockedThem && !blockStatus.theyBlockedMe">
                                You have blocked this user
                            </span>
                            <span *ngIf="!blockStatus.iBlockedThem && blockStatus.theyBlockedMe">
                                This user has blocked you
                            </span>
                            <span *ngIf="blockStatus.iBlockedThem && blockStatus.theyBlockedMe">
                                Messaging is disabled between you two
                            </span>
                        </div>

                        <!-- Messages list -->
                        <ul class="list-unstyled" *ngIf="!loading && messages.length > 0">
                            <li class="chat-date">Today</li>
                            
                            <li class="media" 
                                *ngFor="let message of messages"
                                [ngClass]="{
                                    'sent': message.emetteur.id === currentUserId,
                                    'received': message.emetteur.id !== currentUserId
                                }">
                                
                                <div class="avatar" *ngIf="message.emetteur.id !== currentUserId">
                                    <img [src]="message.emetteur.avatar" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                                
                                <div class="media-body">
                                    <div class="msg-box">
                                        <div>
                                            <p>{{message.contenu}}</p>
                                            <ul class="chat-msg-info">
                                                <li>
                                                    <div class="chat-time">
                                                        <span>{{message.dateEnvoi | date:'shortTime'}}</span>
                                                        <span class="msg-status" *ngIf="message.emetteur.id === currentUserId">
                                                            <i class="fa-solid" 
                                                               [ngClass]="{
                                                                   'fa-check single-check': message.statut === 'Sent',
                                                                   'fa-check-double double-check': message.statut === 'Seen'
                                                               }"></i>
                                                            <span class="seen-text" *ngIf="message.statut === 'Seen'">Seen</span>
                                                        </span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="avatar" *ngIf="message.emetteur.id === currentUserId">
                                    <img [src]="message.emetteur.avatar" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="chat-footer">
                    <div class="form-custom">
                        <div class="input-group-prepend">
                            <i class="feather icon-paperclip"></i>
                        </div>
                        <div class="send-blk">
                            <input type="text" 
                                   class="input-msg-send form-control" 
                                   placeholder="Type something"
                                   [(ngModel)]="newMessage"
                                   (keyup.enter)="sendMessage()"
                                   [disabled]="!selectedChat?.isTeam && isCommunicationBlocked()">
                            <div class="input-group-append">
                                <button type="button" 
                                        class="btn msg-send-btn" 
                                        (click)="sendMessage()"
                                        [disabled]="!selectedChat?.isTeam && isCommunicationBlocked()">
                                    <i class="feather icon-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- No chat selected -->
            <ng-template #noChatSelected>
                <div class="chat-cont-right">
                    <div class="no-selection-message text-center">
                        <div class="message-content">
                            <i class="feather icon-message-square"></i>
                            <h4>Select a chat to start messaging</h4>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>